@import "variables";
@import "mixins";

/* <-- common --> */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-family: $main-font;
}

.wrapper {
    padding: 0 $base * 5;
}

.container {
    max-width: $base * 275;
    margin: 0 auto;
}

button,
input,
textarea {
    outline: none;
}

/* <-- / common --> */


/*  <-- header -->  */

.header {
    padding-top: $base * 5;
    padding-bottom: $base * 7;
    background-color: $color-not-white;
    
    &-inner {
        display: flex;
    }
    
    &-logo {
        display: flex;
        flex-basis: 40%;
        align-self: center;
        
        &__logo {
            background-image: url("../assets/images/header-logo.svg");
            width: $base * 10;
            height: $base * 10;
            margin-right: $base * 7;
            align-self: center;
        }
        
        &__title {
            font-family: $title-font;
            font-size: $base * 9;
            line-height: $base * 12;
            color: $color-action;
            font-weight: $font-weight-black;
        }
    }
    
    &-content {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        
        &__contacts {
            display: flex;
            justify-content: space-between;
            padding-bottom: $base * 5;
            
            &-item {
                display: flex;
                justify-content: space-between;
                
                &:not(:last-child) {
                    padding-right: $base;
                }
                
                &__text {
                    margin-left: $base * 2;
                    font-size: $font-size-contacts;
                    line-height: $line-height-sm;
                }
            }
        }
        
        &__burger {
            display: none;
        }
        
        &__nav {
            &-list {
                display: flex;
                justify-content: space-between;
                
                &__link {
                    font-size: $font-size-sm;
                    font-weight: $font-weight-bold;
                    line-height: $line-height-sm;
                    letter-spacing: $base / 3;
                    color: $color-font-black;
                    text-decoration: none;
                    transition: $transition-delay;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (max-width: $max-width-sm) {
    body.lock {
        overflow: hidden;
    }
    .header-content {
        align-items: flex-end;
        justify-content: center;
        
        &__contacts {
            display: none;
        }
    }
    .header-content__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header-content__burger::before,
    .header-content__burger::after {
        content: '';
        background-color: $color-font-black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s;
    }
    .header-content__burger::before {
        top: 0;
    }
    .header-content__burger::after {
        bottom: 0;
    }
    .header-content__burger span {
        position: absolute;
        background-color: $color-font-black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: 0.3s;
    }
    .header-content__burger.active span {
        transform: scale(0);
        background-color: $color-font-black;
    }
    .header-content__burger.active::before {
        transform: rotate(45deg);
        background-color: $color-font-black;
        top: 9px;
    }
    .header-content__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: $color-font-black;
    }
    .header-content__nav {
        position: fixed;
        z-index: 2;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: $color-grey;
        padding-top: 50px;
        transition: 0.3s;
    }
    .header-content__nav.active {
        top: 0;
    }
    .header-content__nav-list {
        display: block;
    }
    .header-content__nav-list__item {
        margin: 20px;
    }
    .header-content__nav-list__link {
        font-size: $font-size-md;
    }
}

/*  <-- / header -->  */


/*  <-- slider -->  */

.slider {
    padding-top: $base * 42;
    padding-bottom: $base * 30;
    
    position: relative;
    background: url("../assets/images/slider.jpg") 50% 50%;
    background-size: cover;
    
    &::before {
        @include before-background-position;
        
        background: rgba(0, 0, 0, 0.6);
    }
    
    &-item {
        
        &__title {
            padding-bottom: $base * 20;
            font-family: $title-font;
            font-size: $font-size-xl;
            line-height: $line-height-xl;
            font-weight: $font-weight-bold;
            color: $color-white;
        }
        
        &__btn {
            @include main-btn;
            
        }
    }
    
    @include nav-dots($color-white);
    
    &-btn-container {
        @include slider-btns(rgba(229, 229, 229, 0.2), rgba(229, 229, 229, 0.4));
        
    }
}

@media (max-width: $max-width-md) {
    .slider {
        padding-top: $base * 21;
        padding-bottom: $base * 15;
    }
}

@media (max-width: $max-width-sm) {
    .slider {
        padding-top: $base * 10;
        padding-bottom: $base * 7;
        
        &-item__title {
            font-size: $font-size-mobile;
            padding-bottom: $base * 10;
        }
        
        &-nav-container {
            &__point {
                margin-right: $base * 5;
            }
        }
    }
}

/*  <-- / slider -->  */


/*  <-- specialization -->  */

.specialization {
    background-color: $color-grey;
    padding-top: $base * 35;
    padding-bottom: $base * 35;
    
    &-title {
        
        &__services {
            @include pre-title;
            
        }
        
        &__we {
            @include title;
            
            padding-top: $base * 10;
        }
    }
    
    &-content {
        padding-top: $base * 25;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, $base * 90);
        grid-gap: $base * 7.5;
        
        &-item {
            position: relative;
            background: url('../assets/images/specialization.jpg') 50% 50%;
            background-size: cover;
            display: flex;
            cursor: pointer;
            
            &::before {
                @include before-background-position;
                
                background: rgba(0, 0, 0, 0.65);
                transition: $transition-delay;
            }
            
            &:hover {
                &::before {
                    background: rgba(0, 95, 163, 0.65);
                }
            }
            
            &__title {
                position: relative;
                align-self: flex-end;
                font-size: $font-size-lg;
                line-height: $line-height-lg;
                font-weight: $font-weight-bold;
                color: $color-white;
                padding: $base * 11.3;
            }
        }
    }
}

@media (max-width: $max-width-md) {
    .specialization {
        padding-top: $base * 20;
        padding-bottom: $base * 20;
        
        &-title__we {
            font-size: $font-size-mobile;
            width: 100%;
            padding-top: $base * 5;
        }
        
        &-content {
            padding-top: $base * 9;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, $base * 90);
        }
    }
}

@media (max-width: $max-width-md) {
    .specialization {
        padding-top: $base * 10;
        padding-bottom: $base * 10;
        
        &-content {
            padding-top: $base * 18;
            grid-template-columns:  1fr;
            grid-template-rows: repeat(6, $base * 90);
        }
    }
}

/*  <-- / specialization -->  */


/* <!-- company --> */

.company {
    padding-bottom: $base * 35;
    padding-top: $base * 35;
    background-color: $color-not-white;
    
    &-about-as {
        @include pre-title;
        
    }
    
    &-wrapper {
        display: flex;
    }
    
    &-ivanov {
        flex-basis: 50%;
        padding-top: $base * 10;
        padding-right: $base * 31;
        
        &__title,
        &__subtitle {
            @include title;
            
        }
        
        &__subtitle {
            color: $color-action;
        }
        
        &__content {
            @include content;
            
            padding-top: $base * 15;
        }
    }
    
    &-cases {
        flex-basis: 50%;
        display: grid;
        grid-template-columns:repeat(2, $base * 63);
        grid-template-rows: repeat(2, $base * 63);
        grid-gap: $base * 8;
        
        &-item {
            background-color: $color-grey;
            padding: $base * 8 0 $base * 10 $base * 10;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: $transition-delay;
            cursor: pointer;
            
            &:hover {
                background-color: $color-action;
                color: $color-white;
                
                .company-cases-item__link {
                    color: $color-white;
                }
            }
            
            &__count {
                font-size: $font-size-xl;
                line-height: $line-height-xl;
                font-weight: $font-weight-black;
                letter-spacing: 0.1em;
            }
            
            &__title {
                font-size: $font-size-sm;
                line-height: $line-height-sm;
                font-weight: $font-weight-bold;
            }
            
            &__link {
                font-size: $font-size-sm;
                line-height: $line-height-sm;
                font-weight: $font-weight-bold;
                color: $color-action;
            }
        }
    }
}

@media (max-width: $max-width-md) {
    .company {
        padding-bottom: $base * 20;
        padding-top: $base * 20;
        
        &-wrapper {
            flex-direction: column;
            align-items: center;
        }
        
        &-ivanov {
            padding-bottom: $base * 10;
            padding-right: 0;
        }
    }
}

@media (max-width: $max-width-sm) {
    .company {
        padding-bottom: $base * 10;
        padding-top: $base * 10;
        
        &-wrapper {
            flex-direction: column;
            align-items: flex-start;
        }
        
        &-ivanov {
            &__title,
            &__subtitle {
                font-size: $font-size-mobile;
            }
            
            &__content {
                padding-top: $base * 8;
            }
        }
        
        &-cases {
            align-self: center;
            grid-template-columns:repeat(1, $base * 63);
            grid-template-rows: repeat(4, $base * 63);
        }
    }
}

/* <!-- / company --> */


/* <!-- customers --> */

.customers {
    background-color: $color-grey;
    padding-top: $base * 30;
    padding-bottom: $base * 30;
    
    &-our {
        @include pre-title;
        
    }
    
    &-title {
        @include title;
        
        padding-top: $base * 10;
    }
    
    &-slider-container {
        padding-top: $base * 20;
        
        &__content {
            background: url("../assets/images/costomers-microsoft.png") space no-repeat center;
            background-size: 24%;
            height: $base * 32;
        }
    }
    
    @include nav-dots($color-action);
    
    &-slider-btns {
        @include slider-btns(rgba(0, 95, 163, 0.2), $color-action);
        
    }
}

@media (max-width: $max-width-md) {
    .customers {
        padding-bottom: $base * 20;
        padding-top: $base * 20;
        
        &-slider-container {
            padding-top: $base * 10;
        }
    }
}

@media (max-width: $max-width-sm) {
    .customers {
        padding-top: $base * 10;
        padding-bottom: $base * 7;
        
        &-title {
            font-size: $font-size-mobile;
            padding-bottom: $base * 10;
        }
        
        &-slider-container {
            
            &__content {
                background-size: contain;
            }
        }
        
        &-nav-container {
            &__point {
                margin-right: $base * 5;
            }
        }
    }
}

/* <!-- / customers --> */


/* <!-- reviews --> */

.reviews {
    background-color: $color-not-white;
    padding-top: $base * 45;
    padding-bottom: $base * 45;
    
    &-pre-title {
        @include pre-title;
        
    }
    
    &-title {
        @include title;
        
        padding-top: $base * 10;
        padding-bottom: $base * 20;
    }
    
    &-slider-container {
        background: $color-grey;
        padding: $base * 10 $base * 23 $base * 10 $base * 23;
        
        &__content {
            font-size: $font-size-md;
            line-height: $line-height-md;
            font-weight: $font-weight-light;
        }
        
        &__user {
            display: flex;
            padding-top: $base * 15;
            
            &__avatar {
                width: $base * 20;
                height: $base * 20;
                background: url("../assets/images/reviews-ava.jpg") 50% 0;
                background-size: cover;
                border-radius: $base * 20;
            }
            
            &-name {
                padding-left: $base * 8;
                align-self: center;
                
                &__name {
                    font-size: $font-size-md;
                    line-height: $line-height-md;
                    font-weight: $font-weight-bold;
                }
                
                &__position {
                    padding-top: $base * 2;
                    font-size: $font-size-sm;
                    line-height: $line-height-sm;
                    font-weight: $font-weight-normal;
                    color: $color-font-black;
                }
            }
        }
    }
    
    @include nav-dots($color-action);
    
    &-slider-btns {
        @include slider-btns(rgba(0, 95, 163, 0.2), $color-action);
        
    }
}

@media (max-width: $max-width-md) {
    .reviews {
        padding-bottom: $base * 20;
        padding-top: $base * 20;
        
        &-title {
            padding-bottom: $base * 10;
            padding-top: $base * 5;
        }
    }
}

@media (max-width: $max-width-sm) {
    .reviews {
        padding-top: $base * 10;
        padding-bottom: $base * 7;
        
        &-title {
            font-size: $font-size-mobile;
            padding-bottom: $base * 10;
        }
        
        &-slider-container {
            padding: $base * 5;
            
            &__content {
            }
        }
        
        &-nav-container {
            &__point {
                margin-right: $base * 5;
            }
        }
    }
}

/* <!-- / reviews --> */


/* <!-- feedback --> */

.feedback {
    position: relative;
    background: url("../assets/images/slider.jpg") 50% 50%;
    background-size: cover;
    padding-top: $base * 30;
    padding-bottom: $base * 35;
    
    &::before {
        @include before-background-position;
        
        background: rgba(0, 0, 0, 0.8);
    }
    
    &-wrapper {
        position: relative;
        display: flex;
        color: $color-white;
    }
    
    &-col1 {
        flex-basis: 50%;
        padding-right: $base * 25;
        
        &__title {
            font-family: $title-font;
            font-size: $font-size-xl;
        }
        
        &__text {
            padding-top: $base * 11;
            font-size: $font-size-md;
            line-height: $line-height-md;
            font-weight: $font-weight-light;
        }
        
        &__contacts {
            padding-top: $base * 15;
            display: flex;
            justify-content: space-between;
            
            &-svg {
                padding-right: $base * 4;
            }
            
            &-phone {
                display: flex;
                align-items: center;
            }
            
            &-mail {
                display: flex;
                align-items: center;
            }
        }
    }
    
    &-col2 {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        
        &-name {
            display: flex;
            
            &__first-name,
            &__list-name {
                flex-basis: 50%;
                display: flex;
                position: relative;
                flex-direction: column;
                
                .error {
                    
                    position: absolute;
                    bottom: -$base * 4;
                    left: 0;
                }
                
                input {
                    @include field($base * 9)
                }
            }
            
            &__first-name {
                padding-right: $base * 7.5;
            }
        }
        
        &-message {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-top: $base * 9;
            
            .error {
                position: absolute;
                bottom: -$base * 4;
                left: 0;
            }
            
            textarea {
                @include field($base * 25)
            }
        }
        
        &-btn {
            @include main-btn($base * 4.5);
            
            margin-top: $base * 12.5;
            width: 50%;
            align-self: flex-end;
        }
    }
}

@media (max-width: $max-width-md) {
    
    .feedback {
        padding-top: $base * 20;
        padding-bottom: $base * 20;
        
        &-wrapper {
            flex-direction: column;
        }
        
        &-col1 {
            
            &__text {
                padding-top: $base * 5;
            }
            
            &__contacts {
                padding-top: $base * 7;
                justify-content: space-around;
            }
        }
        
        &-col2 {
            margin-top: $base * 15;
        }
    }
}

@media (max-width: $max-width-sm) {
    .feedback {
        padding-top: $base * 10;
        padding-bottom: $base * 7;
        
        &-col1 {
            padding-right: 0;
            
            &__title {
                font-size: $font-size-mobile;
            }
        }
        
        &-col2 {
            &-name {
                flex-direction: column;
                &__first-name {
                    padding-right: 0;
                    margin-bottom: $base * 9;
                }
            }
        }
    }
}

/* <!-- / feedback --> */


/* <!-- footer --> */

.footer {
    padding-bottom: $base * 12;
    padding-top: $base * 10;
    
    &-wrapper {
        display: flex;
        justify-content: space-between;
        
        &__copyright {
            font-size: $font-size-sm;
            line-height: $line-height-sm;
        }
        
        &__author {
            font-size: $font-size-sm;
            line-height: $line-height-sm;
        }
    }
}

/* <!-- / footer --> */

