@import "functions";

$base: rem(4px);

// шрифты

$main-font: 'Lato', sans-serif;
$title-font: 'Merriweather', sans-serif;

// размеры

$font-size-contacts: rem(13px);

$font-size-sm: rem(14px);
$line-height-sm: rem(17px);

$font-size-md: rem(18px);
$line-height-md: rem(25px);

$font-size-lg: rem(24px);
$line-height-lg: rem(33px);

$font-size-xl: rem(48px);
$line-height-xl: rem(66px);

// веса

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

// цвета

$color-not-white: #f9f9f9;
$color-action: #005FA3;
$color-grey: #EBEBEB;
$color-white: #ffffff;

$color-font-title: #333333;
$color-font-grey: #BDBDBD;
$color-font-black: #000000;

// задержка

$transition-delay: 0.2s;

// ширина медиа запросов
$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;



